[include CB2.cfg]
[include mainsail.cfg]
[include btt-manta-m8p-V20.cfg]
[include stealthburner_leds.cfg]
[include led.cfg]
[include led_progress.cfg]
[include nozzle_scrub.cfg]
[include slicer_print.cfg]

#  Macros
[include macro.cfg]
[include park_macro.cfg]
[include AFC/*.cfg]

#  Gantry Adjustment Routines
[include quad_gantry_leveling.cfg]

#####################################################################
#   UUID Setting - CPU boards setup
#####################################################################

[mcu]       # Main PCB Manta M8P V2
canbus_interface: internalcanbus
canbus_uuid=5ce65c24933d

[mcu CB2]
serial: /tmp/klipper_host_mcu

[mcu EBB_sb2240]    # Toolhead PCB
canbus_interface: internalcanbus
canbus_uuid=2aa220428468    

[mcu scanner]
canbus_interface: internalcanbus
canbus_uuid: c85681220561 
#    adjust to suit your scanner, if using usb change to serial


#[mcu mmu]   # ECRF
#canbus_interface: externalcanbus
# canbus_uuid=c20daf321e1e

#####################################

#cartographer 3D config
[scanner]
# [cartographer]
# canbus_uuid: 4c263cd61484    
MCU: scanner
#    adjust to suit your scanner, if using usb change to serial.
#    serial: /dev/serial/by-id/usb-cartographer_cartographer_
x_offset: 0                          
#    adjust for your cartographers offset from nozzle to middle of coil
y_offset: 15                         
#    adjust for your cartographers offset from nozzle to middle of coil
# backlash_comp: 0.00760
# backlash_comp: 0.00645
# backlash_comp:  0.00611
# backlash_comp: 0.000626
backlash_comp: 0.00652 
#   Backlash compensation distance for removing Z backlash before measuring
#   the sensor response.
# 
#   Offsets are measured from the centre of your coil, to the tip of your nozzle 
#   on a level axis. It is vital that this is accurate. 
#calibration_method: touch
#    leave this as touch unless you want to use scan only for everything. 
sensor: cartographer
#    this must be set as cartographer unless using IDM etc.
sensor_alt: carto
#    alternate name to call commands. CARTO_TOUCH etc
# scanner_touch_z_offset: 0.05 
scanner_touch_z_offset: 0.0
#    This is the default and will be overwritten and added to the DO NOT SAVE area by using UI to save z offset
mesh_runs: 2
#    Number of passes to make during mesh scan.

[temperature_sensor Cartographer_MCU]
sensor_type: temperature_mcu
sensor_mcu: scanner
min_temp: 0
max_temp: 105


[temperature_fan MCU_Fan]
pin: PF9               # the fan control pin (must be a mosfet or a pwm fan)
max_power: 0.5
sensor_type: temperature_mcu # same as a temp_sensor
sensor_mcu: mcu
control: watermark             # the fan control pin (must be a mosfet or a pwm fan)
max_delta: 3.0                 # fan turns on/off at 3° over/under target_temp
shutdown_speed: 0.0
min_temp: 0
max_temp: 85                   # just the valid temperature ranges
target_temp: 50.0              # the initial target temperature for the fan

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 7500
max_accel: 10000
#max_accel_to_decel: 10000
max_z_velocity: 15
max_z_accel: 350
#square_corner_velocity: 12.0 
square_corner_velocity: 5.0 

#  File location of stored varibales
#[save_variables]
#filename: /home/biqu/printer_data/.variables.stb
#filename: /home/biqu/printer_data/config/variables.cfg
#filename: ~/printer_data/config/mmu/mmu_vars.cfg

[respond]     ; Need to br added to the printer.cfg file or a macro.cfg file

#  Enable Execute Object (beta) use https://github.com/troy-jacobson/klipper/tree/exclude-object-pr
[exclude_object]

# Enable stuff
[virtual_sdcard]
path: /home/biqu/printer_data/gcodes

[force_move]
enable_force_move: true

[pause_resume]

[display_status]

[respond]

[exclude_object]

[safe_z_home]
home_xy_position: 175,175
# Example home_xy_position: 175,175 - This would be for a 350 * 350mm bed. 
z_hop: 10

#########################################################################################
# y=Fitted shaper 'ei' frequency = 55.8 Hz (vibrations = 0.4%, smoothing ~= 0.103)
#   To avoid too much smoothing with 'ei', suggested max_accel <= 5800 mm/sec^2
# X = Fitted shaper 'mzv' frequency = 46.8 Hz (vibrations = 0.0%, smoothing ~= 0.093)
#   To avoid too much smoothing with 'mzv', suggested max_accel <= 6500 mm/sec^2

[input_shaper]
shaper_freq_x:46.8
shaper_type_x: mzv
shaper_freq_y: 55.8
shaper_type_y: ei

###################################################################
# Added gcode
###################################################################

#-----------------------------------------------------------------
[gcode_macro _USER_VARIABLE]
description: Helper: Contains User defined printer variables
##### see the readme for the variable definition #####
gcode:
  ###################################################################
  ##                     start of user defines                     ## 
  ## this needs to be changed for your printer                     ##
  ###################################################################
  {% set user_z_home_current = 0.3 %}          ; reduced homing curent for z
  {% set user_z_endstop_xy = [0,0] %}  ; z Endstop position insight right profil
  {% set user_respond_set_z_current = 0 %}     ; Macro: _SET_Z_CURR
  
[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True  #; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 50.0   #; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 350.0  # ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 5.0   # custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.0   #; the value to retract while PAUSE
variable_cancel_retract   : 5.0   #; the value to retract while CANCEL_PRINT
variable_speed_retract    : 35.0  #; retract speed in mm/s
variable_unretract        : 1.0   #; the value to unretract while RESUME
variable_speed_unretract  : 35.0  #; unretract speed in mm/s
variable_speed_hop        : 15.0  #; z move speed in mm/s
variable_speed_move       : 100.0 #; move speed in mm/s
variable_park_at_cancel   : True  #; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : 50  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : 350  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
##                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
#variable_user_pause_macro : ""    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
#variable_user_resume_macro: ""    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
#variable_user_cancel_macro: ""    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:

##############################
# TNC auto tune - omc-17hs19-2004s1
##############################
[autotune_tmc stepper_x]
motor: omc-17hs19-2004s1
[autotune_tmc stepper_y]
motor: omc-17hs19-2004s1

[autotune_tmc stepper_z]
motor: omc-17hs19-2004s1
[autotune_tmc stepper_z1]
motor: omc-17hs19-2004s1
[autotune_tmc stepper_z2]
motor: omc-17hs19-2004s1
[autotune_tmc stepper_z3]
motor: omc-17hs19-2004s1

[autotune_tmc extruder]
motor: ldo-36sth20-1004ahg


#cartographer 3D
[adxl345]
#cs_pin: cartographer:PA3
cs_pin: scanner:PA3
spi_bus: spi1

#cartographer 3D
[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 20



#######################################################################
# Need to be in the printer.cfg to save PID setting
#######################################################################
[heater_bed]
heater_pin: PA1
sensor_pin: PB1 # TB 
sensor_type: ATC Semitec 104GT-2
pwm_cycle_time: 0.01667
control: watermark
min_temp: 0
max_temp: 130
max_power: 0.8
control: pid
pid_kp = 54.683
pid_ki = 2.048
pid_kd = 365.012

[extruder]
step_pin: EBB_sb2240: PD0
dir_pin: EBB_sb2240: PD1
enable_pin: !EBB_sb2240: PD2
#microsteps: 16
microsteps: 32
rotation_distance: 22.6789511
#rotation_distance: 15.735952213243
gear_ratio: 50:10
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBB_sb2240: PB13
#sensor_type: Trianglelab NTC100K B3950
sensor_type: Trianglelab_T-D500
sensor_pin: EBB_sb2240: PA3
# pwm_cycle_time: 0.01667
pressure_advance: 0.036
control: pid
pid_kp = 16.585
pid_ki = 0.553
pid_kd = 124.389
min_temp: 0
max_temp: 300
min_extrude_temp: 0
max_power: 0.8
max_extrude_only_distance: 1500 # default is 50mm
max_extrude_cross_section: 5   # Kamp


[tmc2209 extruder]
uart_pin: EBB_sb2240: PA15
run_current: 0.650
stealthchop_threshold: 999999

# Z0 Stepper - Front Left on Motor3
[stepper_z]
step_pin: PB8
dir_pin: PB7
enable_pin: !PE0
microsteps: 32
rotation_distance: 40
gear_ratio: 80:16
endstop_pin: probe:z_virtual_endstop
#endstop_pin: ^!EBB_sb2240: PB8
#position_endstop: 0.0
position_max: 350
homing_retract_dist: 0  # cartographer needs this to be set to 0
position_min: -8.0
homing_speed: 8
second_homing_speed: 3

######################################################
##  Chamber temp / Exhaust fan (24V Fan 2 wire)
# Need yo be here for PID 
# Gantry_Back sensor
####################################################

#[temperature_sensor chamber]
#sensor_type: Trianglelab NTC100K B3950
#sensor_pin: PC4

#############################################

[bed_mesh]
zero_reference_position: 175, 175    
#    set this to the middle of your bed
speed: 200
#    movement speed of toolhead during bed mesh
horizontal_move_z: 6
#    height of scanner during bed mesh scan
mesh_min: 40, 35
#    start point of bed mesh [X, Y]
mesh_max: 335, 300
#    end point of bed mesh [X, Y]
probe_count: 30, 30
algorithm: bicubic

#*# <---------------------- SAVE_CONFIG ---------------------->
#*#
