[include mainsail.cfg]
[include btt-manta-m8p-V20.cfg]
[include stealthburner_leds.cfg]
[include led.cfg]
[include led_progress.cfg]
[include nozzle_scrub.cfg]
#[include custom menu.cfg]
[include slicer_print.cfg]
#[include KAMP_Setting.cfg] 

#  Macros
#  Gantry Adjustment Routines
[include quad_gantry_leveling.cfg]

#  filament runout sensor
#[include runout.cfg]

#  Macros
#[include basic_macro.cfg]
[include macro.cfg]
[include park_macro.cfg]
#[include debug_macro.cfg]


#  moonraker/mainsail
#[include webclient.cfg]

#  print and service time storage
#[include printtime.cfg]

#  Homing Routines
#[include homing.cfg]

#  Bed Mesh 
#[include bed_mesh.cfg]

#  Resonance compensation
#[include input_shaper.cfg]

#  filament and pressure advance
#[include filament.cfg]
#[include pressure_advance.cfg]

#####################################################################
#   UUID Setting - CPU boards setup
#####################################################################
[mcu]       # Main PCB Manta M8P V2
#serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_170039000251313433343333-if00
canbus_uuid=5ce65c24933d

[mcu EBB_sb2240]    # Toolhead PCB
#SB2040 tool head board
#canbus_uuid=8abd63c8f5a5  
#SB2040 tool head board
canbus_uuid=2aa220428468    

[mcu mmu]   
canbus_uuid=c20daf321e1e


[printer]
kinematics: corexy
max_velocity: 500
max_accel: 7500
#max_accel_to_decel: 10000
max_z_velocity: 30
max_z_accel: 700
square_corner_velocity: 5.0 


###################################################################
# Added gcode
###################################################################

#-----------------------------------------------------------------
[gcode_macro _USER_VARIABLE]
description: Helper: Contains User defined printer variables
##### see the readme for the variable definition #####
gcode:
  ###################################################################
  ##                     start of user defines                     ## 
  ## this needs to be changed for your printer                     ##
  ###################################################################
  {% set user_z_home_current = 0.3 %}          ; reduced homing curent for z
  {% set user_z_endstop_xy = [175.0,175.0] %}  ; z Endstop position insight right profil
  {% set user_respond_set_z_current = 0 %}     ; Macro: _SET_Z_CURR

[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True  #; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 50.0   #; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 350.0  # ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 5.0   # custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.0   #; the value to retract while PAUSE
variable_cancel_retract   : 5.0   #; the value to retract while CANCEL_PRINT
variable_speed_retract    : 35.0  #; retract speed in mm/s
variable_unretract        : 1.0   #; the value to unretract while RESUME
variable_speed_unretract  : 35.0  #; unretract speed in mm/s
variable_speed_hop        : 15.0  #; z move speed in mm/s
variable_speed_move       : 100.0 #; move speed in mm/s
variable_park_at_cancel   : True  #; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
##                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
#variable_user_pause_macro : ""    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
#variable_user_resume_macro: ""    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
#variable_user_cancel_macro: ""    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:


##############################
# TNC auto tune - omc-17hs19-2004s1
##############################
[autotune_tmc stepper_x]
motor: omc-17hs19-2004s1
[autotune_tmc stepper_y]
motor: omc-17hs19-2004s1

[autotune_tmc stepper_z]
motor: omc-17hs19-2004s1
[autotune_tmc stepper_z1]
motor: omc-17hs19-2004s1
[autotune_tmc stepper_z2]
motor: omc-17hs19-2004s1
[autotune_tmc stepper_z3]
motor: omc-17hs19-2004s1

[autotune_tmc extruder]
motor: ldo-36sth20-1004ahg

##########################
# Bed Mesh info
##########################
[bed_mesh]
speed: 900
horizontal_move_z: 2
mesh_min: 50,50
mesh_max: 320, 320
probe_count: 7,7
fade_start: 0.5
fade_end: 2
algorithm: bicubic
zero_reference_position: 175, 175
split_delta_z: 0.025
move_check_distance: 5.0
mesh_pps: 2, 2
bicubic_tension: 0.1

#######################################################################
# Need to be in the printer.cfg to save PID setting
#######################################################################
[heater_bed]
heater_pin: PA1
sensor_pin: PB1 # TB 
sensor_type: ATC Semitec 104GT-2
pwm_cycle_time: 0.01667
#control: watermark
min_temp: 0
max_temp: 130
max_power: 0.8
#control: pid
#pid_kp = 54.683
#pid_ki = 2.048
#pid_kd = 365.012

[extruder]
step_pin: EBB_sb2240: PD0
dir_pin: EBB_sb2240: PD1
enable_pin: !EBB_sb2240: PD2
#microsteps: 16
microsteps: 32
rotation_distance: 22.6789511
#rotation_distance: 15.735952213243
gear_ratio: 50:10
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBB_sb2240: PB13
sensor_type: Trianglelab NTC100K B3950
sensor_pin: EBB_sb2240: PA3
# pwm_cycle_time: 0.01667
pressure_advance: 0.036
#control: pid
#pid_kp = 16.585
#pid_ki = 0.553
#pid_kd = 124.389
min_temp: 0
max_temp: 300
min_extrude_temp: 0
max_power: 0.8
max_extrude_only_distance: 300 # default is 50mm
max_extrude_cross_section: 5   # Kamp


[tmc2209 extruder]
uart_pin: EBB_sb2240: PA15
run_current: 0.650
stealthchop_threshold: 999999


######################################################
##  Chamber temp / Exhaust fan (24V Fan 2 wire)
# Need yo be here for PID 
# Gantry_Back sensor
####################################################

#[temperature_sensor chamber]
#sensor_type: Trianglelab NTC100K B3950
#sensor_pin: PC4

#############################################

[respond]     ; Need to br added to the printer.cfg file or a macro.cfg file

#  Enable Execute Object (beta) use https://github.com/troy-jacobson/klipper/tree/exclude-object-pr
[exclude_object]

#  File location of stored varibales
[save_variables]
#filename: /home/biqu/printer_data/.variables.stb
filename: /home/biqu/printer_data/config/variables.cfg

# Enable stuff
[virtual_sdcard]
path: /home/biqu/printer_data/gcodes

[force_move]
enable_force_move: true

[pause_resume]

[display_status]

[respond]

[exclude_object]


#-------------------------------------------------------------------
#[gcode_macro _CLIENT_VARIABLE]
#variable_use_custom_pos   : False ; use custom park coordinates for x,y [True/False]
#variable_custom_park_x    : 0.0   ; custom x position; value must be within your defined min and max of X
#variable_custom_park_y    : 0.0   ; custom y position; value must be within your defined min and max of Y
#variable_custom_park_dz   : 2.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
#variable_retract          : 1.0   ; the value to retract while PAUSE
#variable_cancel_retract   : 5.0   ; the value to retract while CANCEL_PRINT
#variable_speed_retract    : 35.0  ; retract speed in mm/s
#variable_unretract        : 1.0   ; the value to unretract while RESUME
#variable_speed_unretract  : 35.0  ; unretract speed in mm/s
#variable_speed_hop        : 15.0  ; z move speed in mm/s
#variable_speed_move       : 100.0 ; move speed in mm/s
#variable_park_at_cancel   : False ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
#variable_park_at_cancel_x : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
#variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
#variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
#variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
#variable_runout_sensor    : "filament_switch_sensor runout"    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
#                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg

#####################################################################
#  Macros
#####################################################################

#---------------------------------------------------------------------
[probe]
##  This probe is not used for Z height 
pin: ^!EBB_sb2240: PB8
x_offset: 0
y_offset: 0
#z_offset = -0.500
speed: 7.5
lift_speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.005
samples_tolerance_retries: 3

activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}

[adxl345]
cs_pin: EBB_sb2240: PB12
spi_software_sclk_pin: EBB_sb2240: PB10
spi_software_mosi_pin: EBB_sb2240: PB11
spi_software_miso_pin: EBB_sb2240: PB2
axes_map: z,-y,x

[resonance_tester]
accel_chip: adxl345
probe_points:
    # Somewhere slightly above the middle of your print bed
  175,175, 20

[input_shaper]
#shaper_freq_x: 52.2
#shaper_type_x: mzv
#shaper_freq_y: 43.8
#shaper_type_y: zv


#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 49.418
#*# pid_ki = 1.820
#*# pid_kd = 335.428
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 17.737
#*# pid_ki = 0.778
#*# pid_kd = 101.103
#*#
#*# [probe]
#*# z_offset = -0.240
#*#
#*# [input_shaper]
#*# shaper_type_x = zv
#*# shaper_freq_x = 48.8
#*# shaper_type_y = zv
#*# shaper_freq_y = 39.2
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.011310, 0.057440, 0.125565, 0.127440, 0.141815, 0.120565, 0.061190
#*# 	-0.093810, 0.003065, 0.038065, 0.053065, 0.056190, 0.046815, -0.005685
#*# 	-0.080060, -0.039435, -0.019435, 0.012440, 0.022440, 0.011815, -0.038810
#*# 	-0.088810, -0.032560, -0.009435, 0.000565, -0.006935, -0.011310, -0.061310
#*# 	-0.046935, -0.000685, 0.019940, 0.012440, 0.024940, -0.003810, -0.060060
#*# 	0.026190, 0.074940, 0.069315, 0.076815, 0.065565, 0.068690, 0.029940
#*# 	0.114315, 0.144940, 0.140565, 0.156815, 0.146815, 0.119940, 0.079940
#*# x_count = 7
#*# y_count = 7
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.1
#*# min_x = 50.0
#*# max_x = 320.0
#*# min_y = 50.0
#*# max_y = 320.0
